# IDE
.idea/
server/padster-linetracker.iml

# Client
client/node_modules

# production
client/build

# misc
client/.DS_Store
client/npm-debug.log

# Server
debug.log
server/target
server/debug.log
server/debug.log.lck
server/cloudstore
